<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="/css/main.css">
    <meta name="csrf-token" content="{{ csrf_token('my_csrf') }}">
    {% endblock %}
</head>

<body>
    <div id="app">
        <nav class="navbar">
            <div class="nav-container">
                <div class="nav-logo">
                    <h2><a href="{{ url('app_dashboard') }}">Dobby Agents</a></h2>
                </div>
                <button class="hamburger" @click="clickHamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="nav-menu" id="header-nav-menu">
                    <a href="{{ url('app_dashboard') }}" class="nav-link">Dashboard</a>
                    <a href="{{ url('app_dashboard_my_agents') }}" class="nav-link">My Agents</a>
                    <div class="nav-user">
                        <a class="user-name" href="{{ url('app_dashboard_profile') }}">@{{ app.user.getUsername() }}</a>
                        <a class="logout-btn" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>

        <main class="main-content">
            {% block body %}{% endblock %}
        </main>
        <div v-if="modalVisible" v-cloak class="modal-overlay">
            <div class="modal">
                <p>[[ modalFormMessage ]]</p>
                <button @click="closeModal" class="modal-close-btn"></button>
            </div>
        </div>
    </div>
    {% block javascripts %}
    <script src="{{ asset('vendor/js/vue.global.js') }}" defer></script>
    <script src="/js/main.js" defer></script>
    {% endblock %}
</body>

</html>